################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/YouTube CLI/.vs
/src/YouTube CLI/packages/Costura.Fody.5.7.0
/client_secrets.json
